<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <contextName>logback</contextName>

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="${user.dir}/logs/lp-test"/>
    <!-- <property name="log.max.size" value="100MB" /> 日志文件大小,超过这个大小将被压缩 -->

    <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
    <!--<pattern>${ENCODER_PATTERN}</pattern>-->
    <!--<charset>UTF-8</charset>-->
    <!--</encoder>-->

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
             <level>ERROR</level>
         </filter>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] [%X{request.uuid}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="ipTxLog" class="ch.qos.logback.classic.sift.SiftingAppender">-->
    <!--<discriminator>-->
    <!--<key>request.ip</key>-->
    <!--<defaultValue>service</defaultValue>-->
    <!--</discriminator>-->
    <!--<sift>-->
    <!--<appender name="FileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->

    <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
    <!--<level>INFO</level>-->
    <!--</filter>-->

    <!--<file>${LOG_HOME}/tx/${request.ip}/server_info.log</file>-->

    <!--<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
    <!--&lt;!&ndash;日志文件输出的文件名&ndash;&gt;-->
    <!--<FileNamePattern>${LOG_HOME}/tx/${request.ip}/history/server_info_%d{yyyy-MM-dd}.%i.log</FileNamePattern>-->
    <!--<maxFileSize>50MB</maxFileSize>-->
    <!--&lt;!&ndash;日志文件保留天数&ndash;&gt;-->
    <!--<MaxHistory>30</MaxHistory>-->
    <!--</rollingPolicy>-->

    <!--<encoder>-->
    <!--<pattern>%date [%level] [%thread] [%X{request.uuid}]  %logger{80} [%file : %line] %msg%n</pattern>-->
    <!--<charset>UTF-8</charset>-->
    <!--</encoder>-->

    <!--</appender>-->
    <!--</sift>-->
    <!--</appender>-->


    <!-- service-error Appender -->
    <appender name="serverErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/server_error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/history/server_error_%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%date [%level] [%thread] [%X{request.uuid}] %logger{80} [%file : %line] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>

    </appender>


    <!-- service-info Appender -->
    <appender name="serverInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/server_info.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/history/server_info_%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <!--org.apache.activemq.broker-->

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%date [%level] [%thread] [%X{request.uuid}] %logger{80} [%file : %line] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>

    </appender>

    <logger name="org.apache.activemq.broker.BrokerService" level="info" additivity="false">

    </logger>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="serverInfoLog"/>
        <appender-ref ref="serverErrorLog"/>
    </root>


    <!--<root level="warn">-->
    <!--<appender-ref ref="file"/>-->
    <!--</root>-->

</configuration>